<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R-Productive | Editar Tarefa</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="container">
      <h1 class="title">Edite a Tarefa</h1>
      <form
        class="create-form"
        action="/lists/<%= idlist %>/<%= task.id %>/edit"
        method="post"
      >
        <label for="title">Título:</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Título da tarefa"
          value="<%= task.title %>"
          required
        />

        <label for="content">Conteúdo:</label>
        <textarea name="content" id="content" required>
          <%= task.content %>
        </textarea>

        <button type="submit" class="btn">Editar Tarefa</button>
      </form>
    </div>
  </body>
</html>
